<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resume.position.mapper.PositionMapper">
    <update id="changePositionResumeCount">
        update position
        <set>
            <if test="targetState=='已淘汰'">
                <if test="preState=='初筛'">
                    first_screener_count = first_screener_count - 1,
                </if>
                <if test="preState == '面试'">
                    interview_count = interview_count - 1,
                </if>
                <if test="preState == '沟通Offer'">
                    communicate_offer_count = communicate_offer_count - 1,
                </if>
                <if test="preState == '待入职'">
                    pend_employ = pend_employ - 1,
                </if>
                <if test="preState == '已入职'">
                    employed_employ = employed_employ - 1,
                </if>
            </if>
            <if test="preState=='初筛'">
                first_screener_count = first_screener_count - 1,
            </if>
            <if test="targetState=='初筛'">
                first_screener_count = first_screener_count + 1,
            </if>
            <if test="preState == '面试'">
                interview_count = interview_count - 1,
            </if>
            <if test="targetState == '面试'">
                interview_count = interview_count + 1,
            </if>
            <if test="preState == '沟通Offer'">
                communicate_offer_count = communicate_offer_count - 1,
            </if>
            <if test="targetState == '沟通Offer'">
                communicate_offer_count = communicate_offer_count + 1,
            </if>
            <if test="preState == '待入职'">
                pend_employ = pend_employ - 1,
            </if>
            <if test="targetState == '待入职'">
                pend_employ = pend_employ + 1,
            </if>
            <if test="preState == '已入职'">
                employed_employ = employed_employ - 1,
            </if>
            <if test="targetState == '已入职'">
                employed_employ = employed_employ + 1,
            </if>
        </set>
        <where>
            pk_position_id =#{positionId};
        </where>
    </update>

    <select id="selectPositionByAdmin" resultType="com.resume.dubbo.domian.Position">
        select pk_position_id,
               position_name,
               create_user_id,
               description,
               hc,
               working_city,
               working_years,
               education_background,
               type,
               salary_min,
               salary_max,
               salary_month,
               first_screener_count,
               interview_count,
               communicate_offer_count,
               pend_employ,
               employed_employ,
               create_time
        from position
        where state = 1
          and company_id = #{companyId}
        limit #{offset},#{pageSize}
    </select>
    <select id="totalCountPositionByAdmin" resultType="java.lang.Integer">
        select count(*)
        from position
        where state = 1
          and company_id = #{companyId}
    </select>

    <select id="selectPositionByHr" resultType="com.resume.dubbo.domian.Position">
        select pk_position_id,
               position_name,
               create_user_id,
               description,
               hc,
               working_city,
               working_years,
               education_background,
               type,
               salary_min,
               salary_max,
               salary_month,
               first_screener_count,
               interview_count,
               communicate_offer_count,
               pend_employ,
               employed_employ,
               create_time
        from position
        where state = 1
          and pk_position_id = (select position_id from position_team where role_id = 3 and user_id = #{userId})
        limit #{offset},#{pageSize}
    </select>
    <select id="totalCountPositionByHr" resultType="java.lang.Integer">
        select count(*)
        from position
        where state = 1
          and pk_position_id = (select position_id from position_team where role_id = 3 and user_id = #{userId})
    </select>

    <select id="selectPositionByInterviewer" resultType="com.resume.dubbo.domian.Position">
        select pk_position_id,
               position_name,
               create_user_id,
               description,
               hc,
               working_city,
               working_years,
               education_background,
               type,
               salary_min,
               salary_max,
               salary_month,
               first_screener_count,
               interview_count,
               communicate_offer_count,
               pend_employ,
               employed_employ,
               create_time
        from position
        where state = 1
          and pk_position_id = (select position_id from position_team where role_id = 4 and user_id = #{userId})
        limit #{offset},#{pageSize}
    </select>
    <select id="totalCountPositionByInterviewer" resultType="java.lang.Integer">
        select count(*)
        from position
        where state = 1
          and pk_position_id = (select position_id from position_team where role_id = 4 and user_id = #{userId})
    </select>

    <select id="selectAllPosition" resultType="com.resume.dubbo.domian.Position">
        select pk_position_id,
               company_id,
               position_name,
               create_user_id,
               description,
               hc,
               working_city,
               working_years,
               education_background,
               type,
               salary_min,
               salary_max,
               salary_month,
               first_screener_count,
               interview_count,
               communicate_offer_count,
               pend_employ,
               employed_employ,
               create_time,
               update_time,
               state
        from position
    </select>
    <select id="selectPositionTeam" resultType="java.lang.Long">
        select user_id
        from position_team
        where role_id in (3, 4)
          and position_id = #{positionId}
    </select>
</mapper>
